# ------------------------------------
# WebhookX Configuration YAML File
# ------------------------------------

log:
  level: info           # Supported values: debug, info, warn, and error.
  format: text          # Supported values: text, json.
  colored: true         # Enables colorized logs when using text format.
  file: ''              # By default, logs are written to stdout.

access_log:
  enabled: true         # Enables access log.
  format: text          # Supported values: text, json.
  colored: true         # Enables colorized logs when using text format.
  file: ''              # By default, logs are written to stdout.

database:
  host: localhost
  port: 5432
  username: webhookx
  password:
  database: webhookx
  parameters: 'application_name=webhookx&sslmode=disable&connect_timeout=10'
                                  # Connection uri parameters.
                                  # See https://www.postgresql.org/docs/current/libpq-connect.html for more information.
  max_pool_size: 40               # Specifies the maximum number of connections.
  max_lifetime: 1800              # Specifies the maximum lifetime (in seconds) of a connection.

redis:
  host: localhost
  port: 6379
  password:
  database: 0
  max_pool_size: 0                # Specifies the maximum number of connections.
                                  # Default is 10 connections per available CPU.


#------------------------------------------------------------------------------
# Proxy
# The Proxy ingests events.
#------------------------------------------------------------------------------
proxy:
  listen: 0.0.0.0:9600
  #tls:                             # TLS configuration
  #  cert: /path/to/server.crt      # The path to TLS certificate.
  #  key: /path/to/server.key       # The path to TLS certificate key.
  timeout_read: 10                  # Specifies the maximum time (in seconds) for reading the request. 0 disables timeout.
  timeout_write: 10                 # Specifies the maximum time (in seconds) for writing the response. 0 disables timeout.
  max_request_body_size: 1048576    # Specifies the maximum request body size. Default is 1048576.
  response:                         # Default HTTP response
    code: 200
    content_type: application/json
    body: '{"message": "OK"}'
  queue:                            # Queue settings
    type: redis                     # Queue type. Supported values: redis, off.
    redis:
      host: localhost
      port: 6379
      password:
      database: 0
    max_pool_size: 0                # Specifies the maximum number of connections.
                                    # Default value is 10 connections per every available CPU.


#------------------------------------------------------------------------------
# Admin API
# The Admin API provides RESTful APIs for managing entities.
#------------------------------------------------------------------------------
admin:
  listen: 127.0.0.1:9601
  debug_endpoints: false             # Whether to expose debugging and profiling endpoints (via pprof).
                                     # See https://pkg.go.dev/net/http/pprof for more information.
  #tls:                              # TLS configuration
  #  cert: /path/to/server.crt       # The path to TLS certificate.
  #  key: /path/to/server.key        # The path to TLS certificate key.

#------------------------------------------------------------------------------
# Status API
# The Status API provides APIs for retrieving runtime status about WebhookX.
#------------------------------------------------------------------------------
status:
  listen: 127.0.0.1:9602
  debug_endpoints: true              # Whether to expose debugging and profiling endpoints (via pprof).
                                     # See https://pkg.go.dev/net/http/pprof for more information.

#------------------------------------------------------------------------------
# Worker
# The Worker sends events to destinations.
#------------------------------------------------------------------------------
worker:
  enabled: true                     # Whether to enable the Worker.
  deliverer:
    timeout: 60000                  # Specifies the request timeout (in milliseconds) for delivery requests.
    acl:                            # Access Control List (ACL) defines rules to control outbound network access.
                                    # A rule is a string of IPv4, IPv6, CIDR, hostname, or pre-configured group.
                                    # A hostname can contain a wildcard prefix (*.) represents its subdomains, and Unicode
                                    # characters need to be converted to Punycode.
                                    # The list of pre-configured groups:
                                    # - @default: [ '@private', '@loopback', '@linklocal', '@reserved' ]
                                    # - @private: [ '10.0.0.0/8', '172.16.0.0/12', '192.168.0.0/16' ]
                                    # - @loopback: [ '127.0.0.0/8', '::1/128' ]
                                    # - @linklocal: [ '169.254.0.0/16', 'fe80::/10' ]
                                    # - @reserved: [ '0.0.0.0/8', '100.64.0.0/10', '192.0.0.0/24', '224.0.0.0/4', '240.0.0.0/4', 'fc00::/7' ]
                                    #
      deny:                         # `deny` defines a list of rules that deny access.
        - '@default'                # Example:
                                    # deny:
                                    #   - '@default'
                                    #   - '23.215.0.136'
                                    #   - '2606:2800:220:1:248:1893:25c8:1946'
                                    #   - '*.example.com'
                                    #
    #proxy:                         # Proxy server URL. Supports HTTP and HTTPS.
                                    # When a proxy is enabled, the ACL is automatically disabled.
                                    # Example of HTTP: http://<host>:<port>
                                    # Example of HTTPS: https://<host>:<port>
    #proxy_tls_cert:                # Path to the client certificate file used for mTLS proxy authentication.
    #proxy_tls_key:                 # Path to the client private key file used for mTLS proxy authentication.
    #proxy_tls_ca_cert:             # Path to the CA certificate file used to verify the HTTPS proxy's certificate.
    #proxy_tls_verify: true         # Whether to verify the proxy server's TLS certificate.

  pool:                             # Pool defines an in-memory (goroutine) pool used for event delivery.
    size: 10000                     # Specifies the size of pool.
                                    # Defaults to 10000.
    concurrency: 0                  # Specifies the maximum number of concurrent deliveries.
                                    # Default value is 100 per every available CPU.

#------------------------------------------------------------------------------
# Cluster
#------------------------------------------------------------------------------
#role: standalone                   # Enables cluster mode.
                                    # This allows some nodes in the cluster to run as the control plane
                                    # and others to run as the data plane.
                                    #
                                    # Supported values:
                                    #
                                    # - `standalone`: disable cluster mode.
                                    # - `cp`: this node runs as the control plane.
                                    #   It connects to the database to provide entity management.
                                    # - `dp_proxy`: this node runs as the Proxy data plane.
                                    # - `dp_worker`: this node runs as the Worker data plane.

anonymous_reports: true             # Sends anonymous data to help improve WebhookX.


#------------------------------------------------------------------------------
# Metrics
#------------------------------------------------------------------------------
metrics:
  #attributes:                                  # Specifies the custom attributes in key-value pair for each metric.
  #  foo: bar
  #exports:                                     # The list of enabled vendor exports. Supported value: opentelemetry.
  #  - opentelemetry
  push_interval: 10                             # Specifies the interval (in seconds) at which metrics are sent to the OpenTelemetry Collector
  opentelemetry:
    protocol: http/protobuf                     # Supported values: http/protobuf, grpc.
    endpoint: http://localhost:4318/v1/metrics  #
                                                # Example of http/protobuf:
                                                #   protocol: http/protobuf
                                                #   endpoint: http://localhost:4318/v1/metrics
                                                # Example of grpc:
                                                #   protocol: grpc
                                                #   endpoint: localhost:4317

#------------------------------------------------------------------------------
# Tracing
#------------------------------------------------------------------------------
tracing:
  enabled: false
  #attributes:                                  # Specifies the custom attributes in key-value pair for each trace.
  #  foo: bar
  sampling_rate: 1                              # Specifies the trace sampling rate.
                                                # Example: `0.01`, samples 1% of traces.
  opentelemetry:
    protocol: http/protobuf                     # Supported values: http/protobuf, grpc.
    endpoint: http://localhost:4318/v1/traces   #
                                                # Example of http/protobuf:
                                                #   protocol: http/protobuf
                                                #   endpoint: http://localhost:4318/v1/traces
                                                # Example of grpc:
                                                #   protocol: grpc
                                                #   endpoint: localhost:4317


#------------------------------------------------------------------------------
# Secret Reference (External Secret Reference)
# Secret Reference allows fetching values from external secret providers.
#
# Syntax:
#   {secret://<provider>/<name>[.<jsonpath>]}
#
# Components:
# - <provider>       The provider name (e.g.`aws`, `vault`).
# - <name>           The secret name.
# - <jsonpath>       An optional JSON Path used to extract values from a JSON object.
#                    JSON Path is a series of keys separated by a `.` character.
#                    Examples:
#                      - `database.username`
#                      - `credentials.1.username`
#
# Examples:
#   {secret://aws/path/to/mysecret}
#   {secret://aws/path/to/mysecret.password}
#------------------------------------------------------------------------------
#secret:
#  providers:                                    # Specifies enabled providers.
#    - '@default'                                # Supported values:
#                                                # - `@default`: an alias of built-in providers.
#                                                # - `aws`
#                                                # - `vault`
#
#  ttl: 0                                        # TTL (in seconds) of in-memory cache for secrets.
#                                                # Cache is disabled when set to 0.
#
#  aws:                                          # AWS SecretsManager provider
#                                                # The AWS credentials can be provided via standardized credential providers.
#                                                # See https://docs.aws.amazon.com/sdkref/latest/guide/standardized-credentials.html
#    region:                                     # AWS region.
#    url:                                        # AWS SecretsManager service url.
#                                                # Defaults to `https://secretsmanager.<region>.amazonaws.com`.
#
#  vault:                                        # HashiCorp Vault provider (KV v2)
#    address: http://127.0.0.1:8200              # Vault server address.
#    mount_path: secret                          # The mount path for KV secrets engine.
#    namespace:                                  # Vault namespace (for Vault Enterprise).
#    auth_method: token                          # Authentication method. Supported values: `token`, `approle`, `kubernetes`.
#    authn:                                      # Authentication configuration.
#      token:
#        token:                                  # Vault API token.
#      approle:
#        role_id:                                # RoleID used for login.
#        secret_id:                              # SecretID used for login.
#        response_wrapping: false                # Whether to use response-wrapping. Defaults to false.
#      kubernetes:
#        role:                                   # Vault role bound to the Kubernetes service account.
#        token_path:                             # Path to JWT token file.
